 body{
     padding: 100px;
     font-family: 'Roboto', sans-serif;
 }

.heading{
    color: tomato;
    font-weight: 900px;
    font-size: 40px;
    
}
 .input-section{
     width: 95%;
     height: 550px;
     margin-left: 30px;
     border-radius: 30px;
 }
 #image-fix{
     width: 100px;
    text-align: center;
     margin-top: 20px;
 }
 #name{
     margin-left: 10px;
     text-align: center;
     font-weight: bold;
 }
 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .sub{
      width: 100%;
      height: 40px;
      background-color: forestgreen;
      margin: 5px;
      border: none;
      border-radius: 5px;
  } 
  .psw{
      margin-left: 450px;
  }
  #color{
      color: white;
  }
  .container{
      height: 50px;
  }

  #transaction-area{
    display: none;
}
.status{
    margin: 10px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}